{% extends "template.html" %}
{% set active = "notify" %}

{% block title %}Notify{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>Subscribe to /r/thebutton stats.</h1>
        <p class="lead">Get notified whenever the timer reaches a new low, or when a click milestone is passed!</p>
    </div>
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}{% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}{% endif %}
    {% endwith %}
    <h4>Enter your email to subscribe or unsubscribe.</h4>
    <input type="email" id="emailfield" style="width: 60%">
    <a href="javascript:void(0)" class="btn btn-success disabled" id="submitbutton">Submit</a>
    <p>Your email is not shared with anybody, and if you do unsubscribe, it is deleted from the system.</p>
{% endblock %}

{% block ad %}{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        var emailfield = $("#emailfield");
        var submitbutton = $("#submitbutton");
        var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
        emailfield.keyup(function () {
            if (pattern.test(emailfield.val())) {
                submitbutton.attr("href", "/notify/" + emailfield.val());
                submitbutton.removeClass("disabled");
            } else {
                if (submitbutton.hasClass("disabled")) {}
                else {submitbutton.addClass("disabled")}
            }
        })
    })
</script>
{% endblock %}