{% extends "template.html" %}
{% set active = "about" %}

{% block title %}Contact{% endblock %}

{% block jumbotron %}{% endblock %}

{% block main %}
      <div class="well">
            <ul>
                <li>
                    <h4>Contact Me:</h4>
                    <ul>
                        <li><b>Suggestions/Comments</b>: /u/Chr12t0pher on reddit or chris27stevens (at) gmail.com</li>
                        <li><b>Media/Enquires</b>: contact (at) cstevens.biz</li>
                    </ul>
                </li>
                <li>
                    <h4>Useful Links:</h4>
                    <ul>
                        <li><b>Personal Website</b>: <a href="http://cstevens.biz">CStevens.biz</a></li>
                        <li><b>Keybase</b>: <a href="https://keybase.io/chrisstevens">ChrisStevens</a></li>
                        <li><b>Github</b>: <a href="https://github.com/Chr12t0pher">Chr12t0pher</a></li>
                        <li><b>Reddit</b>: <a href="http://www.reddit.com/user/Chr12t0pher/">Chr12t0pher</a></li>
                    </ul>
                </li>
            </ul>
      </div>
{% endblock %}

{% block ad %}{% endblock %}
