{% extends "template.html" %}
{% set active = "donate" %}

{% block title %}Donate{% endblock %}

{% block jumbotron %}{% endblock %}

{% block main %}
      <div class="well">
          <p>If you like the stats provided by the site, feel free to send a couple pounds/dollars my way. As a 16
              year old, the income from donations, and the adverts on the site, are my only
              income from which I can continue hosting this project for the reddit community.
              It helps to keep the site running for more than <b>60,000 people</b>, who have cumulatively viewed over a <b>quarter of a million pages</b>.</p>
          <strong>Paypal Email : chris27stevens (at) gmail.com</strong><br>
          <strong>Bitcoin Wallet : <a href="https://www.coinbase.com/ChrisStevens">1M8gdfuyPSMqp1W8QSxmQXa9SEeBdQBJTw</a></strong>
      </div>
{% endblock %}

{% block ad %}{% endblock %}
