{% extends "template.html" %}
{% set active = "flairs" %}

{% block title %}Flairs{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-4">
            <h4><span style="color: #820080">Purple</span> Flair</h4>
            <br>
            <p><strong>{{ data["subreddit_flair"]["time"]["60"] }}</strong> have 60s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["59"] }}</strong> have 59s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["58"] }}</strong> have 58s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["57"] }}</strong> have 57s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["56"] }}</strong> have 56s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["55"] }}</strong> have 55s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["54"] }}</strong> have 54s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["53"] }}</strong> have 53s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["52"] }}</strong> have 52s.</p>
        </div>

        <div class="col-lg-4">
            <h4><span style="color: #0083C7">Blue</span> Flair</h4>
            <p><strong>{{ data["subreddit_flair"]["time"]["51"] }}</strong> have 51s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["50"] }}</strong> have 50s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["49"] }}</strong> have 49s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["48"] }}</strong> have 48s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["47"] }}</strong> have 47s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["46"] }}</strong> have 46s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["45"] }}</strong> have 45s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["44"] }}</strong> have 44s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["43"] }}</strong> have 43s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["42"] }}</strong> have 42s.</p>
        </div>

        <div class="col-lg-4">
            <h4><span style="color: #02BE01">Green</span> Flair</h4>
            <p><strong>{{ data["subreddit_flair"]["time"]["41"] }}</strong> have 41s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["40"] }}</strong> have 40s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["39"] }}</strong> have 39s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["38"] }}</strong> have 38s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["37"] }}</strong> have 37s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["36"] }}</strong> have 36s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["35"] }}</strong> have 35s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["34"] }}</strong> have 34s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["33"] }}</strong> have 33s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["32"] }}</strong> have 32s.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h4><span style="color: #E5D900">Yellow</span> Flair</h4>
            <p><strong>{{ data["subreddit_flair"]["time"]["31"] }}</strong> have 31s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["30"] }}</strong> have 30s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["29"] }}</strong> have 29s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["28"] }}</strong> have 28s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["27"] }}</strong> have 27s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["26"] }}</strong> have 26s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["25"] }}</strong> have 25s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["24"] }}</strong> have 24s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["23"] }}</strong> have 23s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["22"] }}</strong> have 22s.</p>
        </div>

        <div class="col-lg-4">
            <h4><span style="color: #E59500">Orange</span> Flair</h4>
            <p><strong>{{ data["subreddit_flair"]["time"]["21"] }}</strong> have 21s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["20"] }}</strong> have 20s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["19"] }}</strong> have 19s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["18"] }}</strong> have 18s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["17"] }}</strong> have 17s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["16"] }}</strong> have 16s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["15"] }}</strong> have 15s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["14"] }}</strong> have 14s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["13"] }}</strong> have 13s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["12"] }}</strong> have 12s.</p>
        </div>

        <div class="col-lg-4">
            <h4><span style="color: #E50000">Red</span> Flair</h4>
            <p><strong>{{ data["subreddit_flair"]["time"]["11"] }}</strong> have 11s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["10"] }}</strong> have 10s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["9"] }}</strong> have 9s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["8"] }}</strong> have 8s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["7"] }}</strong> have 7s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["6"] }}</strong> have 6s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["5"] }}</strong> have 5s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["4"] }}</strong> have 4s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["3"] }}</strong> have 3s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["2"] }}</strong> have 2s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["1"] }}</strong> have 1s.</p>
            <p><strong>{{ data["subreddit_flair"]["time"]["0"] }}</strong> have 0s.</p>
        </div>
        <small>Flair data provided by /u/lovethebacon. Click <a data-toggle="popover" data-placement="right" data-container="body"
                                                                data-html="true" role="button" tabindex="0" data-trigger="focus"
                                                                data-content="<ul>
                                                                <li>Only users who have commented on /r/thebutton are included.</li>
                                                                <li>Users must have commented after pressing the button.</li>
                                                                </ul>" href="javascript:void(0)">here</a> for information.</small>
    </div>
{% endblock %}

{% block js %}
    <script> // Popover enabled.
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    </script>
    <script> // Random coloured button.
    $(document).ready( function() {
        var colours = ["purple", "blue", "green", "yellow", "orange", "red"];
        $("#mainbutton").addClass("btn-material-" + colours[Math.floor(Math.random() * colours.length)]);
    })
    </script>
{% endblock %}
