{% extends "template.html" %}
{% set active = "home" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-6">
            <h4>Clicks Per Second (Overall)</h4>
            <p><strong>{{ data["clicks_second"]["all"] }}</strong> clicks /sec</p>

            <h4>Clicks Per Second (Past 1m)</h4>
            <p><strong>{{ data["clicks_second"]["1m"] }}</strong> clicks  /sec</p>

            <h4>Clicks Per Second (Past 10m)</h4>
            <p><strong>{{ data["clicks_second"]["10m"] }}</strong> clicks /sec</p>

            <h4>Clicks Per Second (Past 60m)</h4>
            <p><strong>{{ data["clicks_second"]["60m"] }}</strong> clicks /sec</p>
        </div>

        <div class="col-lg-6">
            <h4>Number of Clicks (Overall)</h4>
            <p><strong>{{ data["clicks"]["all"] }}</strong> clicks</p>

            <h4>Number of Clicks (Past 1m)</h4>
            <p><strong>{{ data["clicks"]["1m"] }}</strong> clicks</p>

            <h4>Number of Clicks (Past 10m)</h4>
            <p><strong>{{ data["clicks"]["10m"] }}</strong> clicks</p>

            <h4>Number of Clicks (Past 60m)</h4>
            <p><strong>{{ data["clicks"]["60m"] }}</strong> clicks</p>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-lg-6">
            <h4>Subreddit Flair Breakdown</h4>
            <ul>
                <li>Can't Press: {{ data["flairs"]["cant"] }} ({{ data["current_flair"]["cant"] }}%)</li>
                <li><span style="color: #888">Grey</span>: {{ data["flairs"]["grey"] }} ({{ data["current_flair"]["grey"] }}%)</li>
                <li><span style="color: #820080">Purple</span>: {{ data["flairs"]["purple"] }} ({{ data["current_flair"]["purple"] }}%)</li>
                <li><span style="color: #0083C7">Blue</span>: {{ data["flairs"]["blue"] }} ({{ data["current_flair"]["blue"] }}%)</li>
                <li><span style="color: #02BE01">Green</span>: {{ data["flairs"]["green"] }} ({{ data["current_flair"]["green"] }}%)</li>
                <li><span style="color: #E5D900">Yellow</span>: {{ data["flairs"]["yellow"] }} ({{ data["current_flair"]["yellow"] }}%)</li>
                <li><span style="color: #E59500">Orange</span>: {{ data["flairs"]["orange"] }} ({{ data["current_flair"]["orange"] }}%)</li>
                <li><span style="color: #E50000">Red</span>: {{ data["flairs"]["red"] }} ({{ data["current_flair"]["red"] }}%)</li>
            </ul>
            <small>This data provided by /u/lovethebacon.<br>Only users who have commented are counted.<br>Updated every 2 minutes.</small>
        </div>

        <div class="col-lg-6">
            <h4>Click Flair Breakdown</h4>
            <ul>
                <li><span style="color: #820080">Purple</span>: {{ data["calc_flairs"]["purple"] }} ({{ data["current_calc_flair"]["purple"] }}%)</li>
                <li><span style="color: #0083C7">Blue</span>: {{ data["calc_flairs"]["blue"] }} ({{ data["current_calc_flair"]["blue"] }}%)</li>
                <li><span style="color: #02BE01">Green</span>: {{ data["calc_flairs"]["green"] }} ({{ data["current_calc_flair"]["green"] }}%)</li>
                <li><span style="color: #E5D900">Yellow</span>: {{ data["calc_flairs"]["yellow"] }} ({{ data["current_calc_flair"]["yellow"] }}%)</li>
                <li><span style="color: #E59500">Orange</span>: {{ data["calc_flairs"]["orange"] }} ({{ data["current_calc_flair"]["orange"] }}%)</li>
                <li><span style="color: #E50000">Red</span>: {{ data["calc_flairs"]["red"] }} ({{ data["current_calc_flair"]["red"] }}%)</li>
            </ul>
            <small>This data provided by /u/OutOfBrain.<br>All clicks since 04 Apr are included.<br>Updated every 5 minutes.</small>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h4>Lowest Time (Overall)</h4>
            <p><strong>{{ data["lowestTime"]["all"]["clicks"] }}</strong> seconds on <strong>{{ data["lowestTime"]["all"]["time"] }}</strong> UTC</p>

            <h4>Lowest Time History</h4>
            <p>Click <strong><a href="/times" target="_blank">here</a></strong> to view history.</p>

            <h4>Suggestions</h4>
            <p>Got an idea for another statistic to show? Message <strong>Chr12t0pher</strong> on reddit!</p><br>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script> // Popover enabled.
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    </script>
    <script> // Random coloured button.
    $(document).ready( function() {
        var colours = ["purple", "blue", "green", "yellow", "orange", "red"];
        $("#mainbutton").addClass("btn-material-" + colours[Math.floor(Math.random() * colours.length)]);
    })
    </script>
{% endblock %}
