{% extends "template.html" %}
{% set active = "home" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="alert alert-warning"><b>Final Release</b>: No more features will be added to the site. Thank you to all 70,000 of you who have visited the site 125,000 times and visited over 300,000 pages!</div>

    <div class="row">
        <div class="col-lg-6">
            <h4>Clicks Per Second (Overall)</h4>
            <p><strong>{{ data["clicks_per_second"]["all"] }}</strong> clicks /sec</p>

            <h4>Clicks Per Second (Past 1m)</h4>
            <p><strong>{{ data["clicks_per_second"]["1m"] }}</strong> clicks  /sec</p>

            <h4>Clicks Per Second (Past 10m)</h4>
            <p><strong>{{ data["clicks_per_second"]["10m"] }}</strong> clicks /sec</p>

            <h4>Clicks Per Second (Past 60m)</h4>
            <p><strong>{{ data["clicks_per_second"]["60m"] }}</strong> clicks /sec</p>
        </div>

        <div class="col-lg-6">
            <h4>Number of Clicks (Overall)</h4>
            <p><strong>{{ data["total_clicks"]["all"] }}</strong> clicks</p>

            <h4>Number of Clicks (Past 1m)</h4>
            <p><strong>{{ data["total_clicks"]["1m"] }}</strong> clicks</p>

            <h4>Number of Clicks (Past 10m)</h4>
            <p><strong>{{ data["total_clicks"]["10m"] }}</strong> clicks</p>

            <h4>Number of Clicks (Past 60m)</h4>
            <p><strong>{{ data["total_clicks"]["60m"] }}</strong> clicks</p>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-lg-6">
            <h4>Flair Breakdown</h4>
            <ul>
                <li><span style="color: #820080">Purple</span>: {{ data["subreddit_flair"]["colour"]["purple"] }} ({{ data["subreddit_flair"]["colour_percentage"]["purple"] }}%)</li>
                <li><span style="color: #0083C7">Blue</span>: {{ data["subreddit_flair"]["colour"]["blue"] }} ({{ data["subreddit_flair"]["colour_percentage"]["blue"] }}%)</li>
                <li><span style="color: #02BE01">Green</span>: {{ data["subreddit_flair"]["colour"]["green"] }} ({{ data["subreddit_flair"]["colour_percentage"]["green"] }}%)</li>
                <li><span style="color: #E5D900">Yellow</span>: {{ data["subreddit_flair"]["colour"]["yellow"] }} ({{ data["subreddit_flair"]["colour_percentage"]["yellow"] }}%)</li>
                <li><span style="color: #E59500">Orange</span>: {{ data["subreddit_flair"]["colour"]["orange"] }} ({{ data["subreddit_flair"]["colour_percentage"]["orange"] }}%)</li>
                <li><span style="color: #E50000">Red</span>: {{ data["subreddit_flair"]["colour"]["red"] }} ({{ data["subreddit_flair"]["colour_percentage"]["red"] }}%)</li>
            </ul>
            <small>Via /u/OutOfBrain.<br>All clicks since 04 Apr are included.</small>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-lg-6">
            <h4>Lowest Time (Overall)</h4>
            <p><strong>{{ data["lowest_click"]["click"] }}</strong> seconds on <strong>{{ data["lowest_click"]["time"] }}</strong> UTC</p>
        </div>

        <div class="col-lg-6">
            <h4>Longest Possible Time</h4>
            <p>If each click was at 1 second, the timer would still be going at <b>{{ data["max_date"] }}</b>.</p>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script> // Popover enabled.
    $(function () {
        $("[data-toggle='popover']").popover()
    })
    </script>
    <script> // Random coloured button.
    $(document).ready( function() {
        var colours = ["purple", "blue", "green", "yellow", "orange", "red"];
        $("#mainbutton").addClass("btn-material-" + colours[Math.floor(Math.random() * colours.length)]);
    })
    </script>
{% endblock %}
