{% extends "template.html" %}
{% set active = "times" %}

{% block title %}Times{% endblock %}

{% block main %}
    <div class="alert alert-info"><b>Info</b>: This data shows the time each second first appeared on the timer, <i>not</i> when it was first clicked.</div>

    <div class="row">
        <div class="col-lg-4" style="border-left: 3px #820080 solid">
            <p style="height: 20px;"></p>
            <p>60 @ <strong>{{ data["lowest_click_times"]["60"] }}</strong> UTC</p>
            <p>59 @ <strong>{{ data["lowest_click_times"]["59"] }}</strong> UTC</p>
            <p>58 @ <strong>{{ data["lowest_click_times"]["58"] }}</strong> UTC</p>
            <p>57 @ <strong>{{ data["lowest_click_times"]["57"] }}</strong> UTC</p>
            <p>56 @ <strong>{{ data["lowest_click_times"]["56"] }}</strong> UTC</p>
            <p>55 @ <strong>{{ data["lowest_click_times"]["55"] }}</strong> UTC</p>
            <p>54 @ <strong>{{ data["lowest_click_times"]["54"] }}</strong> UTC</p>
            <p>53 @ <strong>{{ data["lowest_click_times"]["53"] }}</strong> UTC</p>
            <p>52 @ <strong>{{ data["lowest_click_times"]["52"] }}</strong> UTC</p>
        </div>

        <div class="col-lg-4" style="border-left: 3px #0083C7 solid">
            <p>51 @ <strong>{{ data["lowest_click_times"]["51"] }}</strong> UTC</p>
            <p>50 @ <strong>{{ data["lowest_click_times"]["50"] }}</strong> UTC</p>
            <p>49 @ <strong>{{ data["lowest_click_times"]["49"] }}</strong> UTC</p>
            <p>48 @ <strong>{{ data["lowest_click_times"]["48"] }}</strong> UTC</p>
            <p>47 @ <strong>{{ data["lowest_click_times"]["47"] }}</strong> UTC</p>
            <p>46 @ <strong>{{ data["lowest_click_times"]["46"] }}</strong> UTC</p>
            <p>45 @ <strong>{{ data["lowest_click_times"]["45"] }}</strong> UTC</p>
            <p>44 @ <strong>{{ data["lowest_click_times"]["44"] }}</strong> UTC</p>
            <p>43 @ <strong>{{ data["lowest_click_times"]["43"] }}</strong> UTC</p>
            <p>42 @ <strong>{{ data["lowest_click_times"]["42"] }}</strong> UTC</p>
        </div>

        <div class="col-lg-4" style="border-left: 3px #02BE01 solid">
            <p>41 @ <strong>{{ data["lowest_click_times"]["41"] }}</strong> UTC</p>
            <p>40 @ <strong>{{ data["lowest_click_times"]["40"] }}</strong> UTC</p>
            <p>39 @ <strong>{{ data["lowest_click_times"]["39"] }}</strong> UTC</p>
            <p>38 @ <strong>{{ data["lowest_click_times"]["38"] }}</strong> UTC</p>
            <p>37 @ <strong>{{ data["lowest_click_times"]["37"] }}</strong> UTC</p>
            <p>36 @ <strong>{{ data["lowest_click_times"]["36"] }}</strong> UTC</p>
            <p>35 @ <strong>{{ data["lowest_click_times"]["35"] }}</strong> UTC</p>
            <p>34 @ <strong>{{ data["lowest_click_times"]["34"] }}</strong> UTC</p>
            <p>33 @ <strong>{{ data["lowest_click_times"]["33"] }}</strong> UTC</p>
            <p>32 @ <strong>{{ data["lowest_click_times"]["32"] }}</strong> UTC</p>
        </div>
    </div>

    <style type="text/css">@media (min-width: 1182px) {.bottomrow {margin-top: 20px;}}</style>
    <div class="row bottomrow" style="@media (min-width: 1182px) {margin-top: 20px;}">
        <div class="col-lg-4" style="border-left: 3px #E5D900 solid">
            <p>31 @ <strong>{{ data["lowest_click_times"]["31"] }}</strong> UTC</p>
            <p>30 @ <strong>{{ data["lowest_click_times"]["30"] }}</strong> UTC</p>
            <p>29 @ <strong>{{ data["lowest_click_times"]["29"] }}</strong> UTC</p>
            <p>28 @ <strong>{{ data["lowest_click_times"]["28"] }}</strong> UTC</p>
            <p>27 @ <strong>{{ data["lowest_click_times"]["27"] }}</strong> UTC</p>
            <p>26 @ <strong>{{ data["lowest_click_times"]["26"] }}</strong> UTC</p>
            <p>25 @ <strong>{{ data["lowest_click_times"]["25"] }}</strong> UTC</p>
            <p>24 @ <strong>{{ data["lowest_click_times"]["24"] }}</strong> UTC</p>
            <p>23 @ <strong>{{ data["lowest_click_times"]["23"] }}</strong> UTC</p>
            <p>22 @ <strong>{{ data["lowest_click_times"]["22"] }}</strong> UTC</p>
        </div>

        <div class="col-lg-4" style="border-left: 3px #E59500 solid">
            <p>21 @ <strong>{{ data["lowest_click_times"]["21"] }}</strong> UTC</p>
            <p>20 @ <strong>{{ data["lowest_click_times"]["20"] }}</strong> UTC</p>
            <p>19 @ <strong>{{ data["lowest_click_times"]["19"] }}</strong> UTC</p>
            <p>18 @ <strong>{{ data["lowest_click_times"]["18"] }}</strong> UTC</p>
            <p>17 @ <strong>{{ data["lowest_click_times"]["17"] }}</strong> UTC</p>
            <p>16 @ <strong>{{ data["lowest_click_times"]["16"] }}</strong> UTC</p>
            <p>15 @ <strong>{{ data["lowest_click_times"]["15"] }}</strong> UTC</p>
            <p>14 @ <strong>{{ data["lowest_click_times"]["14"] }}</strong> UTC</p>
            <p>13 @ <strong>{{ data["lowest_click_times"]["13"] }}</strong> UTC</p>
            <p>12 @ <strong>{{ data["lowest_click_times"]["12"] }}</strong> UTC</p>
        </div>

        <div class="col-lg-4" style="border-left: 3px #E50000 solid">
            <p>11 @ <strong>{{ data["lowest_click_times"]["11"] }}</strong> UTC</p>
            <p>10 @ <strong>{{ data["lowest_click_times"]["10"] }}</strong> UTC</p>
            <p>9 @ <strong>{{ data["lowest_click_times"]["9"] }}</strong> UTC</p>
            <p>8 @ <strong>{{ data["lowest_click_times"]["8"] }}</strong> UTC</p>
            <p>7 @ <strong>{{ data["lowest_click_times"]["7"] }}</strong> UTC</p>
            <p>6 @ <strong>{{ data["lowest_click_times"]["6"] }}</strong> UTC</p>
            <p>5 @ <strong>{{ data["lowest_click_times"]["5"] }}</strong> UTC</p>
            <p>4 @ <strong>{{ data["lowest_click_times"]["4"] }}</strong> UTC</p>
            <p>3 @ <strong>{{ data["lowest_click_times"]["3"] }}</strong> UTC</p>
            <p>2 @ <strong>{{ data["lowest_click_times"]["2"] }}</strong> UTC</p>
            <p>1 @ <strong>{{ data["lowest_click_times"]["1"] }}</strong> UTC</p>
            <p>0 @ <strong>{{ data["lowest_click_times"]["0"] }}</strong> UTC</p>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script> // Random coloured button.
    $(document).ready( function() {
        var colours = ["purple", "blue", "green", "yellow", "orange", "red"];
        $("#mainbutton").addClass("btn-material-" + colours[Math.floor(Math.random() * colours.length)]);
    })
    </script>
{% endblock %}
